body{
  margin:0px;
  font-size: 25px;
  font-family: "comic-sans";
  font-weight: bolder;
  text-align: center;
}
a{text-decoration:none}
img {
width: 200px;
height : 200px;
display: inline-block;
padding: 15px;
}
.header{
  background-color: navy;
  padding : 1px;
  color: white;
  font-family: "sans-serif";
}
#navbar {
  overflow: hidden;
  background-color:grey;
}
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
#navbar a:hover {
  background-color: black;
  color: white;
}
.sticky{
  position:sticky;
  top: 0;
  width: 100%;
}
.tabel1 tr td{
  border-collapse: collapse;
  border: 3px solid black;
  padding:10px;
  background-color: grey;
}
.tabel2{
  margin-left:auto;
  margin-right:auto;
}
.tabel3{
  margin-left:auto;
  background-color: blue;
}
.tabel4{
  margin-right:auto;
  background-color: purple;
}
.konten40{
  width:40%;
}
.konten20{
  width:20%;
}
.kontenatas{
  background-color: cyan;
  padding: 1px;
  text-align: center;
}
.kontenbawah{
  background-color: orange;
  padding : 1px;
  text-align: center;
}
#more1{
  display: none;
}
#more2{
  display: none;
}
#more3{
  display: none;
}
#more4{
  display: none;
}
#more5{
  display: none;
}
.button {
  background-color: blue;
  color: white;
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}
.footer{
  background-color : grey;
  padding : 1px;
  font-family: "sans-serif";
}
